---
# The main CSS file needs frontmatter
---

:root {
  --canvas-color: #f3efea;
  --brown-color: #351900;
  --orange-color: #ff8a35;
  --gray-color: #7e6f62;
  --green-color: #29f462;

  --on-canvas-color: var(--brown-color);
  --on-brown-color: var(--canvas-color);
  --on-orange-color: var(--brown-color);

  --main-margin: 5rem;

  --accent-color: var(--green-color);
  --background-color: var(--canvas-color);
  --foreground-secondary-color: var(--gray-color);
  --foreground-color: var(--on-canvas-color);

  --headings-font: "GT-Alpina-Typewriter";
  --body-font: FTHabit;

  --border: 3px solid var(--foreground-color);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Qwitcher Grypen";
  src: url({{ "/assets/fonts/Qwitcher Grypen/QwitcherGrypen-Regular.ttf" | relative_url }}) format(truetype);
}

@font-face {
  font-family: "GT-Alpina-Typewriter";
  src: url({{ "/assets/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.otf" | relative_url }})
      format(opentype),
    url({{ "/assets/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.ttf" | relative_url }})
      format(truetype),
    url({{ "/assets/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.woff" | relative_url }})
      format(woff),
    url({{ "/assets/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.woff2" | relative_url }})
      format(woff2);
}

@font-face {
  font-family: "FTHabit";
  src: url({{ "/assets/fonts/FTHabit/FTHabit-Regular.otf" | relative_url }}) format(opentype),
    url({{ "/assets/fonts/FTHabit/FTHabit-Regular.woff" | relative_url }}) format(woff),
    url({{ "/assets/fonts/FTHabit/FTHabit-Regular.woff2" | relative_url }}) format(woff2);
}

@font-face {
  font-family: "FTHabit";
  font-style: italic;
  src: url({{ "/assets/fonts/FTHabit/FTHabit-RegularItalic.otf" | relative_url }}) format(opentype),
    url({{ "/assets/fonts/FTHabit/FTHabit-RegularItalic.woff" | relative_url }}) format(woff),
    url({{ "/assets/fonts/FTHabit/FTHabit-RegularItalic.woff2" | relative_url }}) format(woff2);
}

@font-face {
  font-family: "FTHabit";
  font-weight: bold;
  src: url({{ "/assets/fonts/FTHabit/FTHabit-Medium.otf" | relative_url }}) format(opentype),
    url({{ "/assets/fonts/FTHabit/FTHabit-Medium.woff" | relative_url }}) format(woff),
    url({{ "/assets/fonts/FTHabit/FTHabit-Medium.woff2" | relative_url }}) format(woff2);
}

@font-face {
  font-family: "FTHabit";
  font-weight: bold;
  font-style: italic;
  src: url({{ "/assets/fonts/FTHabit/FTHabit-MediumItalic.otf" | relative_url }}) format(opentype),
    url({{ "/assets/fonts/FTHabit/FTHabit-MediumItalic.woff" | relative_url }}) format(woff),
    url({{ "/assets/fonts/FTHabit/FTHabit-MediumItalic.woff2" | relative_url }}) format(woff2);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
  text-transform: uppercase;
  font-size: 2.825rem;
  line-height: 0.9;
  font-weight: 200;
}

p, li{
  font-size: 1.25rem;
  line-height: 1.4;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--body-font);
}

main, footer {
  padding: 2.5rem;
  background-color: var(--background-color);
}

section:first-of-type {
  padding-top: 2.5rem;
}

section:last-of-type {
  padding-bottom: 2rem;
}

section {
  padding: 0 2.5rem;
}

section:nth-child(even) {
  background-color: var(--orange-color);
}

section:nth-child(4n) {
  background-color: var(--brown-color);
  color: var(--canvas-color);
}

section:nth-child(4n) > :not(hr) {
  border-left: 3px solid var(--canvas-color);
  border-right: 3px solid var(--canvas-color);
}

section > :not(hr) {
  border-left: var(--border);
  border-right: var(--border);
  padding-top: 2.5rem;
  padding: 0.125rem 1.75rem;
}

section > h2 {
  font-size: 1.825rem;
}

section > h3 {
  padding-top: 5rem;
}

section:nth-child(4n) > hr {
  border-bottom: 3px solid var(--canvas-color);
}

hr {
  margin: 2rem;
  border-top: 0;
  border-bottom: var(--border);
  width: calc(100% - 4rem);
  align-self: center;
}

section > h1 {
  padding-bottom: 5rem;
}

section > *:has(+ hr) {
  padding-bottom: 8rem;
}

section > p {
  padding-bottom: 2.5rem;
}

li {
  margin-left: 1rem;
}

section > :is(ul, ol) {
  padding-bottom: 2.5rem;
}

footer {
  background-color: var(--brown-color);
  color: var(--canvas-color);
}

a {
  color: var(--canvas-color);
  font-weight: bold;
}

a:visited {
  color: var(--canvas-color);
}

table {
  width: 100%;
}

.signature {
  font-family: 'Qwitcher Grypen';
  font-size: 2rem;
}
